$body-bg:#E8EAE0;
$navbar-bg: #9CA69D;


$theme-colors: (
  "primary":    #2F695B,
  "secondary":  #877D72, 
  "success":    #B4A797, 
  "info":       #BBBBB9,   
  "warning":    #F8FAF0,
  "danger":     #B4A797,  
  "light":      #E8EAE0,
  "dark":       #2F695B,
);

$link-color: #877D72;

$pagination-color: #2F695B;
$pagination-active-bg: #2F695B;

@import '~bootstrap/scss/bootstrap';

// $theme - Colors :  ( 
//     "info" : Tomato , 
//     "danger" : teal
//  ) ;

