.navbar {
    background-color: #2E7D32; /* 濃い緑色 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar__link {
    color: #F5F5F5; /* オフホワイト */
    text-decoration: none;
    margin-right: 10px;
  }
  
  .navbar__list {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  